@font-face {
  font-family: 'azuki-font';
  src: 
    url('../font/azukiL-subset.eot'),
    url('../font/azukiL-subset.woff')format("woff"),
    url('../font/azukiL-subset.woff2')format("woff2");
}

.hidden {
  visibility: hidden;
}

body {
    overflow-x: hidden;
    font-family: azuki-font!important;
 }

input,
textarea { 
  font-family: 'Meiryo','MS Gothic','Segoe UI','Times New Roman', sans-serif!important; 
}

.section-line {
  display: inline-block;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;
}

.bg-pastel-blue {
  background-color: #cce6ff;
}

.bg-pastel-yellow {
  background-color: lightyellow;
}

/* ============ navbar =============*/
.navbar {
  background: linear-gradient(to right, rgb(32, 0, 173, 0.9), rgb(97, 94, 255, 0.9));
}

/* ============ home =============*/
.home-inner {
  margin: 0;
  background-image: url(../img/bg.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 20%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  padding: 1rem 0;
  top: calc(100vh - 75%);
}

.caption h1 {
  margin: 0 auto;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.to {
  font-size: 4.5rem;
}

.caption h2 {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
}
.big-btn {
  font-size: 1.4rem!important;
}
/* ============ my-profile ============ */

.container h2 {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 5%;
}

.my-photo {
  width: 100%;
  border-radius: 100%;
}

.myStatus {
  font-size: 1.1rem;
  padding-top: 2rem;
}

.sns {
  font-size: 6rem;
  text-shadow: .1rem .1rem .5rem black;
}

.sns:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.twitter {
  color: #00aced;
}
/* ============ my-skills ============= */

/* contact form */ 
.main-form {
  max-width: 50rem;
  margin: auto;
}

.bg-footer{
  background: linear-gradient(to top, rgb(32, 0, 173, 0.9), rgba(47, 43, 255, 0.9));
}

/*---Media Queries --*/
@media (max-width: 992px) {

  /* ============ my-profile ============ */
  .container h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {

  .fox {
    padding: 8rem 2rem 0 0;
    display: none;
  }
  /* ============ my-profile ============ */
  .container h1 {
    font-size: 2.5rem;
  }
  .my-photo {
    border-radius: 100%;
  }
   .lead {
    font-size: 1rem;
  }
  .myStatus {
    font-size: 0.9rem;
  }
}

  
@media (max-width: 576px) {

  .caption {
    top: 10%;
  }

  .caption h1 {
    font-size: 2.5rem;
  }

  .to {
    font-size: 1.8rem;
  }
 
  .caption h3 {
    font-size: 1.4rem;
  }
  /* ============ my-profile ============ */
  .container h1 {
    font-size: 2rem;
  }
  .my-photo {
    border-radius: 100%;
  }
  .lead {
    font-size: 1rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  /* background-image: url('img/mac.png'); */
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
