@charset "utf-8";
 
.yt {position:relative;}
 
.yt_play:hover {cursor:pointer;}
 
.yt_play::before { /* YouTubeアイコン */
  position: absolute;
  background: url(../img/youtube_icon_black.png);
  content: "";
  background-size: 100%;
  width: 70px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  opacity: .90;
  transition:.5s;
}
 
.yt_play:hover::before { /* YouTubeアイコン */
  cursor: pointer;
	background-image:url(../img/youtube_icon_red.png);
}